* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 500ms;
}


.container {
    background: rgb(235, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em ;
}

.bigcontainer {
    padding: 0 2em;
}


.nav-container {
    padding: 1em 3em;
    /* background: rgb(179, 176, 176); */
    border-radius: 12px;
    display: flex;
    gap: 2em;
}

a:hover,
a:focus {
    color: gray;
}

.ri-code-s-slash-fill {
    font-size: 2rem;
}

.right-container p {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: .2em

}

.btn {
    padding: .5em 1em;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms;
    
}

.btn:hover,
.btn:focus {
    background: gray;
}

h1 {
    font-size: 3rem;
}

img {
    width: 50%;
    object-fit: cover;
}

.flex-container {
    
    display: flex;
    
}

span {
    color: rgb(46, 152, 214);
}

.flex-container section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    width: 50%;
    background: rgb(183, 201, 207);
    
    
}


.module {
    
    padding: 1em 4em;
    background: rgb(46, 152, 214);
    font-weight: 700;
    font-family: "outfit";
    font-size: 1rem;
    
}

.first {
    margin-top: 2em;
}







@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
    }

    .right-container {
        display: none;
        
    }
}